<div class="signUpPage">
    <p><span class="settingsPageText">Username:</span><input type="text" size="20" ng-model="signInController.client.credentials.username"></input>
    </p>
    <p><span class="settingsPageText">Password:</span><input type="text" size="20" ng-model="signInController.client.credentials.password"></input>
    </p>
    <button class= "btn btn-primary settingsUpdateButton" type="button" ng-click="signInController.create()">Sign Up</button>
    <p ng-if=signInController.usernameTaken>Username Taken</p>
    <p ng-if=signInController.accountCreationFailed>Failed To Create Account</p>
</div>