<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">

    <ul class="nav navbar-nav">
        <li class="navbar-header otherOnBar">
            <div class="navbar-brand"><span class="glyphicon glyphicon-send"></span><font size="5" face="cursive"><em>Flight </em></font></div>
        </li>
        <li class="otherOnBar">
            <div class="dropdown">
                <button class="btn btn-primary navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
                        Profile
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ui-sref="search.map">Search</a></li>
                    <li><a ui-sref="history">History</a></li>
                    <li><a ng-click="$ctrl.globalService.logout()">Logout</a></li>
                    <li><a ui-sref="allFlights">See All Flights</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>