<div class="flexColumn userPage">
    <div class="flexRow">
        <div class="flexColumn userPageLeftSide">
            <p>
                <div class="dropdown">
                    <button class="btn btn-primary navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
                            {{searchController.departure}}
                                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="searchController.memphisDeparture()">Memphis</a></li>
                        <li><a ng-click="searchController.chattanoogaDeparture()">Chattanooga</a></li>
                        <li><a ng-click="searchController.nashvilleDeparture()">Nashville</a></li>
                        <li><a ng-click="searchController.knoxvilleDeparture()">Knoxville</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                            {{searchController.destination}}
                                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="searchController.memphisDestination()">Memphis</a></li>
                        <li><a ng-click="searchController.chattanoogaDestination()">Chattanooga</a></li>
                        <li><a ng-click="searchController.nashvilleDestination()">Nashville</a></li>
                        <li><a ng-click="searchController.knoxvilleDestination()">Knoxville</a></li>
                    </ul>
                </div>
            </p>
            <p>
                <a>
                    <button ng-click=searchController.searchForItinerary()>Search</button>
                </a>
            </p>
        </div>
        <div class="userPageRightSide panel panel-primary">
            <div class="flexColumn insideUserPageRightSide">
                <div>
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
</div>