<div class="dropdown">
    <button class="btn btn-primary navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
            Departure
        <span class="caret"></span></button>
    <button class="btn btn-primary navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
            Destination
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="$ctrl.homePage()">My Page</a></li>
        <li><a ng-click="$ctrl.settingsPage()">Settings</a></li>
        <li><a ng-click="$ctrl.globalService.logout()">Logout</a></li>
    </ul>
</div>