.navbar { 
    border-radius: 0; 
    min-width: 100% !important;
}

ul.navbar-nav { 
    white-space: nowrap;
}
.otherOnBar{
    float: left;
    margin: 0;
}

.searchBar {
    display: inline-block;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.userPageTop {
    justify-content: center;
    align-items: center;

}

.followUnfollowbtn {
    width: 70px;
    align-self: center;
}

.profileInfo {
    justify-content: flex-end;
    font-size: small;
}

.userPage {
    margin: 10px;
}

.userPageLeftSide {
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.userPageRightSide {
    margin-left: 10px;
    width: 100%;
}

.insideUserPageRightSide {
    padding: 10px;
}

.postTweet {
    margin-bottom: 20px;
}

.contentBox {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.buttonUserPageLeft {
    background-color: #D3C00C
}

.logIn {
    outline: 2px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 150px;

}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settingsPage {
    margin: 10px;
}

.signUpPage {
    margin: 10px;
}

.settingsPageText {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.settingsUpdateButton {
    margin-right: 10px;
}

a {
    cursor: pointer;
}

.repostedText {
    color: rgba(0, 0, 0, 0.87);
}

.width100 {
    width: 100% !important;
}

.signButton {
    border-radius: 0;
    border: 1px solid black;
}

.contentInTweet {
    overflow-wrap: break-word;
    width: 50vw;
}

.navbar-btn {
    width: 11vw;
    background-color: #A3B803;
    border: 1px solid rgba(79, 71, 71, 0.98);
}

/* .body {
    background-color: rgba(79, 71, 71, 0.98);
} */