<div class="panel panel-info">
    <div class="panel-heading">
        <div ng-if="$ctrl.repostTweet === true"><a ng-click="$ctrl.goToUser($ctrl.tweet.reposter.username)">@{{ $ctrl.tweet.reposter.username }}</a>
            <span class="repostedText"> reposted:</div></div>
            <a ng-click="$ctrl.goToUser($ctrl.tweet.repliedTo.username)" ng-if="$ctrl.replyTweet === true">@{{ $ctrl.tweet.repliedTo.username }}</a>
        </div>
    
        <div class="panel-body">
<!--                -->
            <!-- use this .getContext() ng-click div and the goToUser($ctrl.tweet.author.username) as a model to pass itinerary to map -->
<!--               -->
            <!-- <div ng-click="$ctrl.getContext()">
                <a ng-click="$ctrl.goToUser($ctrl.tweet.author.username)">@{{ $ctrl.tweet.author.username }}</a> -->
            <div ng-click="$ctrl.getContext()" ng-repeat="">
                <a ng-click="$ctrl.goToUser($ctrl.tweet.author.username)">@{{ $ctrl.tweet.author.username }}</a>
                <dir class="contentInTweet" id="dir" content="$ctrl.tweet.content | createAnchors"></dir>
                <p>
                    {{ $ctrl.tweet.posted | date:"MM/dd/yyyy 'at' h:mma" }}
                    <button ng-if=$ctrl.globalService.loggedIn class="btn btn-default" ng-click="$ctrl.likeTweet(tweet.id)">
                            Like <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
            <button class="btn btn-default" ng-click="$ctrl.getDirectReplies()">Book</button>
            <button class="btn btn-default" ng-click="$ctrl.getDirectReposts()">View on Map</button>
            <button class="btn btn-default" ng-click="searchController.searchForItinerary()">Get Itinerary</button>
            <button ng-if="$ctrl.canDelete" class="btn btn-danger" ng-confirm-click="Are you sure you want to delete this tweet?" confirmed-click="$ctrl.deleteTweet()">Delete</button>
            </p>
        </div>